recursive-include scripts *.py *.cjs
recursive-include examples *.py
recursive-include examples/tutorials *.ipynb *.md
prune examples/tutorials/.ipynb_checkpoints
recursive-include tests *.py
recursive-include docs *.md *.png
recursive-include records *.md *.txt
recursive-include outputs *.md
recursive-include .github *.yml
include *.md .gitignore .gitattributes verdi.manual_v5.pdf
